<div>
  <div class="sideNav">
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
              <li class="nav-item">
                <a [routerLink]="['./overview']" class="nav-link align-middle px-0">
                  <i class="fs-4 bi-house"></i>
                  <span class="ms-1 d-none d-sm-inline">Overview</span>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['./Screening']" class="nav-link align-middle px-0">
                  <i class="fs-4 bi-house"></i>
                  <span class="ms-1 d-none d-sm-inline">Screening</span>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['./Enrollment']" class="nav-link px-0 align-middle">
                  <i class="fs-4 bi-table"></i>
                  <span class="ms-1 d-none d-sm-inline">Enrollment</span></a>
              </li>

              <li class="nav-item">
                <a [routerLink]="['./Covid 19 Results']" class="nav-link px-0 align-middle">
                  <i class="fs-4 bi-people"></i>
                  <span class="ms-1 d-none d-sm-inline">Covid 19 Results</span>
                </a>
              </li>
            </ul>
            <hr />
          </div>
        </div>
        <div class="col py-3">
          <!-- <h2>Fetched API Data</h2> -->
          <ul>
            <li *ngFor="let user of users">
              {{ user.username }} - {{ user.email }}
              <!-- Data matching JSON structure -->
            </li>
          </ul>
          <router-outlet> </router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>