<div style="display: flex; column-gap: 1rem; align-items: center">
  <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
    <input
      type="text"
      id="startDate"
      placeholder="Start Date"
      class="form-control"
      bsDatepicker
    />
  </div>
  <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
    <input
      type="text"
      id="endDate"
      placeholder="End Date"
      class="form-control"
      bsDatepicker
    />
  </div>
  <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
    <button class="btn btn-primary">Show report</button>
  </div>
</div>
